.lastUpdate {
  color: gray;
  float: right;
  font-size: 10px;
  margin-top: 10px;
}
.MuiButton {
    padding: 7px 8px;
    min-width: 20px;
    font-size: 0.7125rem;
    min-height: 30px;
}
.sizeSmall {
    padding: 7px 8px;
    min-width: 20px;
    font-size: 0.7125rem;
    min-height: 30px;
}
